/*폰트*/

/* notosanskr 폰트*/
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
/* Fredericka 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
/* Nothing You Could Do 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
/* roboto 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* Montserrat 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'GyeonggiBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html {
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}

/* 노말라이즈 */
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
textarea {
    font-family: inherit;
    margin: 0;
    padding: 0;
    list-style: none;
    font: inherit;
    border: none;
    background: none;
    color: inherit;
}

a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

label[for] {
    cursor: pointer;
    user-select: none;
}

button {
    font-family: inherit;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    outline-style: none;
    cursor: pointer;
}

*:focus {
    outline: none;
}

/* 라이브러리 */
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.visi-hidden {
    visibility: hidden;
}

.absolute-left {
    position: absolute;
    left: 0;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.absolute-top {
    position: absolute;
    top: 0;
}

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.absolute-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.absolute-middle.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.relative {
    position: relative;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.cell-right {
    float: right;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.clear-both {
    clear: both;
}

.img-box>img {
    width: 100%;
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.margin-0-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.line-height-0 {
    line-height: 0;
}

.line-height-0>* {
    line-height: normal;
}

.height-100p {
    height: 100%;
}

.height-50p {
    height: 50%;
}

.border-box {
    box-sizing: border-box;
}

.font-size-dot-8rem {
    font-size: .8rem;
}

.table-row {
    display: table;
}

.table-row.row::after {
    display: inline;
    clear: non;
}

.table-row>.cell {
    float: none;
    display: table-cell;
}

/* 라이브러리 - flex */
*>.flex {
    display: flex;
}

*>.flex-column {
    display: flex;
    flex-direction: column;
}

*>.flex-column-nowrap {
    display: flex;
    flex-flow: column nowrap;
}

*>.flex-grow-1 {
    flex-grow: 1;
}

*>.flex-shrink-0 {
    flex-shrink: 0;
}

*>.flex-jc-st {
    display: flex;
    justify-content: flex-start;
}

*>.flex-jc-end {
    display: flex;
    justify-content: flex-end;
}

*>.flex-jc-c {
    display: flex;
    justify-content: center;
}

*>.flex-jc-between {
    display: flex;
    justify-content: space-between;
}

*>.flex-ai-c {
    display: flex;
    align-items: center;
}

*>.flex-ai-st {
    display: flex;
    align-items: flex-start;
}

*>.flex-ai-end {
    display: flex;
    align-items: flex-end;
}

*>.flex-self-c {
    display: flex;
    align-self: center;
}

*>.flex-row-nowrap {
    flex-direction: row;
    flex-wrap: nowrap;
}

*>.flex-ch-basis-0 {
    display: flex;
}

.flex-ch-basis-0>* {
    flex-basis: 0;
}

*>.flex-1-0-0 {
    flex: 1 0 0;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* 라이브러리 폰트 */
.font-noto {
    font-family: 'Noto Sans KR', sans-serif;
}

.font-NUCD {
    font-family: 'Nothing You Could Do', sans-serif;
}

.font-Fredericka {
    font-family: 'Fredericka the Great', sans-serif;
    font-weight: normal;
}

.font-mont {
    font-family: 'Montserrat', sans-serif;
}

.font-Gyeonggi {
    font-family: 'GyeonggiBatang', sans-serif;
    font-weight: normal;
    font-style: normal;
}
/* custom */


.con {
    box-sizing: border-box;
    max-width: 1500px;
}



/* 모눈종이 배경 */
html {
    overflow-x: hidden;
    font-size: 10px;
}

body {
    overflow-X: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: #FAFAF8;
}

/* 스크롤 바 제거 */
body::-webkit-scrollbar {
    display: none;
    width: 0;
}

.sound-only {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
}

/* svg 색상 */
.frame,
.quotes,
.icon-scroll-path,
.cls-1,
.tag-icon,
.icon-left,
.icon-right,
.arrow-left,
.arrow-right,
.bg-design-puzzle,
.sns-icon-path {
    fill: #2D2924;
}

/* 폰트 사이즈 */





.fs-title2 {
    font-size: 7.68rem;
    line-height: 7.68rem;
}
.fs-subtitle1 {
    font-size: calc(2.3rem + 0.364vw);
    line-height: calc(2.3rem + 0.364vw);
}
.fs-subtitle2 {
    font-size: calc(3rem + 0.364vw);
    line-height: calc(3rem + 0.364vw);
}
.fs-txthead {
    font-size: calc(1.8rem + 0.15625vw);
    line-height: calc(1.8rem + 0.15625vw);
}
.fs-txtbody {
    font-size: calc(1.5rem + 0.15625vw);
    line-height: calc(1.5rem + 0.15625vw);
}
.fs-txt1 {
    font-size: calc(1.3rem + 0.15625vw);
    line-height: calc(1.3rem + 0.15625vw);
}
.fs-txt1-1 {
    font-size: calc(1.3rem + 0.15625vw);
}
.fs-txt2 {
    font-size: 1.4rem;
    line-height: 1.4rem;
}



/* 사이드 바 시작*/
.side-bar {
    position: fixed;
    top: 0;
    left: calc(-384px + 72px);
    width: 384px;
    height: 100vh;
    background-color: #2D2924;
    box-sizing: border-box;
    z-index: 100;
}
.side-shadow {
    position: fixed;
    top: 0;
    left: calc(-384px + 72px);
    width: 384px;
    height: 100vh;
    box-sizing: border-box;
    box-shadow: 5px 0 10px #A0A0A0;
    mix-blend-mode: multiply;
    z-index: 99;
}

.side-bar.open-ani, .side-shadow.open-ani {
    animation-name: open-ani;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

.side-bar.close-ani, .side-shadow.close-ani {
    animation-name: close-ani;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

@keyframes open-ani {
    0% {
        left: calc(-384px + 72px);
    }

    100% {
        left: 0;
    }
}

@keyframes close-ani {
    0% {
        left: 0;
    }

    100% {
        left: calc(-384px + 72px);
    }
}

.side-bar #logo {
    position: absolute;
    top: 3%;
    right: calc(36px - 10.3205px);
    width: 182px;
    transform: rotate(-90deg);
    transform-origin: right bottom;
}
.side-bar #logo svg{
    width: 100%;
}

/* 사이드 바 - 버튼 */
.side-bar .btn-side-bar {
    position: absolute;
    top: calc(50% - 20px);
    right: 11px;
    width: 50px;
    height: 40px;
}

.side-bar .btn-side-bar>div {
    position: absolute;
    width: 100%;
    height: 8px;
    background-color: #B3B3B3;
    transition: background 0.3s;
}
.side-bar .btn-side-bar:hover>div {
    background-color: #ffffff;
}

.side-bar .btn-side-bar>div:nth-child(1) {
    top: 0;
    left: 0;
}

.side-bar .btn-side-bar>div:nth-child(2) {
    top: calc(50% - 4px);
    left: 0;
}

.side-bar .btn-side-bar>div:nth-child(3) {
    bottom: 0;
    left: 0;
}


/* 사이드 바 - 메뉴 */
.side-bar .side-bar-menu {
    margin-top: 10vh;
    margin-left: 10vh;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s, visibility 0s 0.6s;
}

.side-bar.active .side-bar-menu {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.6s, visibility 0s;
}

.side-bar .side-bar-menu>ul>li+li {
    margin-top: 20px;
}
.side-bar .side-bar-menu>ul>li>span {
    position: relative;
    display: inline-block;
    font-size: 3.2rem;
    line-height: 3.2rem;
    color: #ffffff;
    cursor: pointer;
}
.side-bar .side-bar-menu>ul>li>span::after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #ffffff;
    transition: width 0.45s;
}
.side-bar .side-bar-menu>ul>li>span:hover::after {
    width: 100%;
}

.side-bar .site-info {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    line-height: 14px;
    color: #A0A0A0;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.6s, visibility 0s 0.6s;
}
.side-bar.active .site-info{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.6s, visibility 0s;
}









/* 사이드 바 끝*/



[data-dot-page-index="0"] .pagenation>ul>li{
    background: #ffffff;
}

[data-dot-page-index="3"] .pagenation>ul>li{
    background: #ffffff;
}




/* 페이지 버튼 시작 */
.pagenation {
    position: fixed;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    z-index: 100;
}

.pagenation>ul>li {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #2D2924;
}

.pagenation>ul>li>button {
    width: 100%;
    height: 100%;
}

.pagenation>ul>li+li {
    margin-top: 13px;
}

.pagenation>ul>li.active {
    background: #FFB000;
}
/* 페이지 버튼 끝 */











/* section 페이지 공통 css 시작 */

section {
    box-sizing: border-box;
}
/* 섹션 타이틀 */
.section-page h2 {
    font-weight: normal;
}

.section-page h2>span {
    position: relative;
    display: inline-block;
}

/* 타이틀 라인 */
.title {
    position: relative;
}
.page-title-line {
    position: absolute;
    width: calc(100% + 30px);
    height: 4px;
    left: -3px;
    background-image: url(./resource/brush-line-sm.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.t-line1 {
    top: 11%;
}
.t-line2 {
    top: 36%;
}
.t-line3 {
    bottom: 12%;
}

/* 퍼즐 배경 이미지 */
.puzzle-bg-v1::before,.puzzle-bg-v1::after,.puzzle-bg-v2::after,.puzzle-bg-v3::after {
    content:"";
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}

.puzzle-bg-v1::before {
    top: 0;
    left: 0;
    width: 30.104166666666668vw;
    height: 31.40625vw;
    min-width: 250px;
    min-height: 350px;
    background-image: url(./resource/bg-puzzle2.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.puzzle-bg-v1::after,.puzzle-bg-v2::after {
    bottom: 0;
    right: 0;
    width: 36.40625vw;
    height: 46.40625vw;
    min-width: 300px;
    min-height: 400px;
    background-image: url(./resource/bg-puzzle.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.puzzle-bg-v3::after{
    bottom: 0;
    left: 0;
    width: 36.40625vw;
    height: 46.40625vw;
    min-width: 300px;
    min-height: 400px;
    background-image: url(./resource/bg-puzzle.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: scaleX(-1);
}

.txt-front {
    position: relative;
    z-index: 2;
}

/* section 페이지 공통 css 끝 */




/* 인트로 페이지 시작 */
.intro {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background-color: #2D2924;
}

.intro .wrap {
    position: relative;
    width: 100%;
    min-height: inherit;
    align-items: flex-end;
    justify-content: space-between;
}

/* 인트로 스크롤 아이콘 */
.icon-scroll-path {
    fill: #ffffff;
}
.intro .title {
    margin-left: 0;
}
.intro .icon-scroll {
    position: absolute;
    left: calc(50% - 15px);
    animation: scroll-icon-ani 1s infinite alternate-reverse;
    cursor: pointer;
}

.intro .icon-scroll.actived {
    opacity: 1;
}

@keyframes scroll-icon-ani {
    0% {
        bottom: 10.319917440660475vh;
    }

    100% {
        bottom: 8.771929824561404vh;
    }
}

.intro .icon-scroll svg {
    width: 30px;
}



/* intro 타이틀 */
.intro .title {
    margin-left: -10px;
    margin-bottom: 35vh;
    align-items: flex-start;
}
.intro .title>div {
    position: relative;
    color: #fff;
}
.intro .title>.ti1 {
    padding-right: 62px;
}
.intro .title>.ti2 {
    padding-right: 182px;
}
.intro .title>div+div {
    margin-top: 7px;
}

/* intro 타이틀 폰트 */
.intro .title>.font-Fredericka>span {
    position: relative;
    display: inline-block;
    opacity: 0;
    z-index: 10;
}
.intro .title>.ti1>span {
    font-size: 110px;
    line-height: 110px;
}

.intro .title>.ti2>span {
    font-size: 142px;
    line-height: 142px;
}
.intro .title>div>i {
    opacity: 0;
}
.intro .title>div:nth-of-type(1)>span {
    animation: element-opacity 1s 0.5s forwards;
}
.intro .title>div:nth-of-type(1)>i {
    animation: element-opacity 1s 0.8s forwards;
}
.intro .title>div:nth-of-type(2)>span {
    animation: element-opacity 1s 1s forwards;
}
.intro .title>div:nth-of-type(2)>i {
    animation: element-opacity 1s 1.3s forwards;
}
@keyframes element-opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.intro .title > div > .title-line {
    position: absolute;
    left: -25px;
    width: 100%;
    height: 4px;
    background-image: url(./resource/brush-line.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/* 인트로 퍼즐 이미지 */
.intro .intro-img {
    position: relative;
    margin-right: 21.476041666666667%;
    /* margin-left: 13.020833333333334vw; */
    margin-bottom: 36vh;
}

/* 퍼즐 사이즈 */
.intro .intro-img .puzzle-line-img,
.intro .intro-img .puzzle-line,
.intro .intro-img .main-puzzle,
.intro .intro-img .white-bg-img
{
    width: 176px;
}
/* 퍼즐 라인 */
.intro .intro-img .puzzle-line-img,
.intro .intro-img .puzzle-line {
    position: absolute;
    top: 0;
    left: 0;
}

.intro .intro-img .puzzle-line {
    z-index: 1;
}

.intro .intro-img .puzzle-line svg path.puzzle-line {
    fill: none;
    stroke: #2D2924;
    stroke-miterlimit: 10;
    stroke-dasharray: 1363.472900390625;
    stroke-width: 30px;
    animation: path-ani 4s ease-in-out forwards;
}

@keyframes path-ani {
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 1363.472900390625;
    }
}

/* 메인 퍼즐 이미지 */
.intro .intro-img .main-puzzle {
    position: absolute;
    top: -10%;
    left: -10%;
    opacity: 0;
    z-index: 10;
    animation: main-puzzle 1s 4s ease-in-out forwards;
}

.intro .intro-img .main-puzzle .puzzle-main {
    fill: #fff;
}

@keyframes main-puzzle {
    0% {
        top: -50%;
        opacity: 0;
    }

    100% {
        top: -10%;
        opacity: 1;
    }
}

/* intro 섹션 - 스크롤 아이콘 */

/* 인트로 페이지 끝 */








/* 어바웃 페이지 */
.about {
    position: relative;
    min-height: 100vh;
}
.about-wrap {
    min-height: inherit;
    padding-top: 13.003095975232197vh; /* 1920일때 126px */
    box-sizing: border-box;
}

/* 어바웃 페이지 - 배경 */
.about > .bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
}
.about > .bg > svg{
    height: 100%;
}


/* 어바웃 페이지 - 타이틀 */
.about .title {
    margin-bottom: 20px;
}

/* 어바웃 페이지 - 컨텐츠 박스 */
.about .content-box {
    justify-content: center;
}


/* 어바웃 페이지 - 사진 */
.about .content-box>.photo {
    position: relative;
    width: 376px;
    flex-shrink: 0;
    background-color: #2D2924;
    box-sizing: border-box;
    overflow: hidden;
}
.about .content-box>.photo::before{
    content:"";
    display: block;
    padding-bottom: 172.95317868845052%;
}
.about .content-box>.photo>img {
    position: absolute;
    top: -0.5px;
    left: 50%;
    height: calc(100% + 1px);
    transform: translateX(-50%);
    box-sizing: border-box;
}

/* 어바웃 페이지 - 컨텐츠 */
.about .content-box>.content {
    margin-left: 6.979166666666667vw;
    box-sizing: border-box;
}

/* 프로필 탭 박스 */
.about .profile-box1{
    width:24.739583333333332vw;
    padding-right:5.885416666666667vw;
    box-sizing: border-box;
    margin-bottom: 10.8359133126935vh;
}
.about .profile-box2{
    padding-right:4.166666666666667vw;
    margin-bottom: 10.8359133126935vh;
    box-sizing: border-box;
    flex-grow: 1;
}

.about .profile-box2 > ul > li {
    align-items: flex-start;
}
.about .profile-box2 > ul > li > span:first-child {
    padding-top: 6px;
}

/* 프로필 타이틀 바 */
.about .content-box .content .tag-title-bar {
    position: relative;
    border-bottom: 1px solid #2D2924;
    margin-bottom: 3.9215686274509802vh;
}
.about .content-box .content .tag-title-bar > svg{
    display: block;
    width: 158px;
}
.about .content-box .content .tag-title-bar .tag-title{
    position: absolute;
    left: 10px;
    bottom: 5px;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    letter-spacing: -1px;
    color: #fff;
}
/* 프로필 탭 리스트 */
.about .content-box .content .profile-list li+li{
    margin-top: 2.579979360165119vh;
}
.about .content-box .content .edu-list li+li{
    margin-top: 4.747162022703819vh;
}
.about .content-box .content .profile-list .list-head,
.about .content-box .content .edu-list .list-head{
    display: inline-block;
    min-width: 65px;
    width: 5.208333333333333vw;
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: bold;
}
.about .content-box .content .profile-list .list-body,
.about .content-box .content .edu-list .list-body{
    display: inline-block;
    font-size: 1.6rem;
    word-break:keep-all;
}












/* 어바웃 페이지 - 스킬 탭 */

.about .skills-box>.skill {
    width: 100%;
}
.about .skills-box>div+div{
    padding-top: 14px;
}

.about .skills-box>.skill>div+div {
    margin-top: 10px;
}

/* 스킬 이름 */
.about .skills-box>.skill>.skill-name >span{
    font-size: 1.4rem;
    line-height: 14px;
    font-weight: 400;
    letter-spacing: -1px;
}

/* 스킬 바 */
.about .skills-box>.skill>.skill-name>.info-num {
    display: inline-block;
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: bold;
}
.about .skills-box>.skill>.skill-name>.info-num::after {
    content: "%";
    display: inline-block;
    font-size: 0.8rem;
    line-height: 8px;
    font-weight: 400;
}

.about .skills-box>.skill>.progress-bar {
    position: relative;
    width: 100%;
    height: 4px;
    margin-bottom: 3px;
    background-color: #C1C1C1;
}

.about .skills-box>.skill>.progress-bar::before {
    content: "";
    position: absolute;
    left: 0;
    top: -3px;
    width: 10px;
    height: 10px;
    border-radius: 50% 50%;
    background-color: #2D2924;
}

.about .skills-box>.skill>.progress-bar>.bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #2D2924;
}

/* 툴 아이콘 */
.about .tools {
    max-width: 256px;
    justify-content: space-between;
}
.about .tools > li{
    width: 72px;
    padding-bottom: 20px;
    box-sizing: border-box;
}
.about .tools > li > svg{
    display: block;
    width: 100%;
}

















/* 포트폴리오 섹션 */
.portfolio {
    position: relative;
    margin-top:20.63983488132095vh;
    padding-bottom: 20.63983488132095vh;
    min-height: 100vh;
    box-sizing: content-box;
}
.portfolio::after{
    z-index: -1;
}
.portfolio > .wrap {
    width: 100%;
    min-height: inherit;
}

.portfolio .slide-index{
    position: absolute;
}

/* 포트폴리오 섹션 - 타이틀*/
.portfolio .content-box .title{
    padding: 15.479876160990711vh 0;
}




/* 포트폴리오 컨텐츠 아이템 */
.portfolio .pf-content {
    padding-bottom: 300px;
}
.portfolio .pf-content .pf-item{
    display: none;
}
.portfolio .pf-content .pf-item.active{
    display: block;
}


/* 포트폴리오 컨텐츠 아이템 타이틀 */
.portfolio .pf-content .pf-item-title-bar {

    padding-bottom: 3.611971104231166vh;
}
.portfolio .pf-content .pf-item-title{
    font-size:3.6rem;
    line-height: 3.6rem;
    font-weight: 500;
    letter-spacing: 1px;
}
.portfolio .pf-content .pf-item-title-bar .device-icon {
    margin-left: 25px;
}
.portfolio .pf-content .pf-item-title-bar .device-icon img{
    display: block;
    height: 20px;
}


/* 포트폴리오 컨텐츠 아이템 정보 바 */
.portfolio .pf-content .pf-item-bar {
    margin-bottom: 4.953560371517028vh;
}
.portfolio .pf-content .pf-item-bar > .tag{
    height: 18px;
}
.portfolio .pf-content .pf-item-bar > .tag > img{
    display: block;
    height: 100%;
}

/* 포트폴리오, 디자인 컬러 리스트 */
.color-list {
    margin-left: 21px;
}
.color-list > li{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid #2D2924;
}
.color-list > li+li{
    margin-left: 6px;
}

/* 포트폴리오 컨텐츠 아이템 본문 */
.portfolio .pf-content .pf-item-body {
    max-width: 465px;
}
.portfolio .pf-content .pf-item-body p{
    font-size: 1.4rem;
    word-break: keep-all;
}


/* 포트폴리오 컨텐츠 버튼 */
.portfolio .pf-content .btn-box {
    display: none;
    margin-top: 30px;
}
.portfolio .pf-content .btn-box button+button{
    margin-left: 10px;
}
.portfolio .pf-content .btn-box button{
    width: 100px;
    height: 40px;
}
.portfolio .pf-content .btn-box button a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 13px;
    line-height: 13px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #ffffff;
}
.portfolio .pf-content .btn-box .btn-origin{
    background-color: #2D2924;
}
.portfolio .pf-content .btn-box .btn-demo{
    background-color: #FFB000;
}





/* 포트폴리오 이미지 박스 */
.portfolio .portfolio-img-box{
    flex-shrink: 0;
    width: 40%;
    max-width: 586px;
    min-width: 500px;
    min-height: inherit;
    padding-top: 7vh;
    box-sizing: border-box;
}
.portfolio .portfolio-img-box ul{
    position: relative;
    width: 100%;
    height:100%;
    min-height: inherit;
}
.portfolio .portfolio-img-box ul > li{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    visibility: hidden;
    transition: background 3s;
}
.portfolio .portfolio-img-box ul > li.active{
    visibility: visible;
}
.portfolio .portfolio-img-box ul > li > a{
    display: block;
    height: 100%;
}
.portfolio .portfolio-img-box ul > li:hover{
    background-position: left bottom;
}

/* 포트폴리오 링크 버튼 */
.portfolio .portfolio-img-box .btn-box {
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 20;
}
.portfolio .portfolio-img-box .btn-box button+button{
    margin-left: 10px;
}
.portfolio .portfolio-img-box .btn-box button{
    width: 100px;
    height: 40px;
}
.portfolio .portfolio-img-box .btn-box button a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 13px;
    line-height: 13px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #ffffff;
}
.portfolio .portfolio-img-box .btn-box .btn-origin{
    background-color: #2D2924;
}
.portfolio .portfolio-img-box .btn-box .btn-demo{
    background-color: #FFB000;
}









/* 포트폴리오 슬라이드 박스 */
.portfolio .pf-slide-box {
    position: absolute;
    bottom: 0;
    max-width: 980px;
    width: calc(100% + 66px);
    margin-left: -110px;
}

/* 포트폴리오 슬라이드 탭 버튼 */
.portfolio .pf-tab-bar{
    position: relative;
    height: 39px;
    margin-bottom: 14px;
    border-bottom: 1px solid #2D2924;
    overflow: hidden;
}
.portfolio .pf-tab-bar > .pf-tab-btn:last-child {
    margin-right: 10px;
}
.portfolio .pf-tab-bar .pf-tab-btn{
    margin-left: 50px;
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 500;
    color: #2D2924;
    cursor: pointer;
}
.portfolio .pf-tab-bar .pf-tab-btn.active{
    color: #ffffff;
    transition: color 0.2s 0.2s;
}

.portfolio .pf-tab-bar .btn-bg-bar {
    position: absolute;
    bottom : -1px;
    height: 100%;
    transition: width 0.6s, right 0.6s;
    background-color: #2D2924;
    z-index: -1;
}
.portfolio .pf-tab-bar .btn-bg-bar > .left {
    content:"";
    position: absolute;
    top: 0;
    left: 1px;
    height: 100%;
    transform: translateX(-100%);
}
.portfolio .pf-tab-bar .btn-bg-bar > .right {
    content:"";
    position: absolute;
    top: 0;
    right: 1px;
    height: 100%;
    transform: translateX(100%);
}
.portfolio .pf-tab-bar .btn-bg-bar > .left > svg,
.portfolio .pf-tab-bar .btn-bg-bar > .right > svg {
    height: 100%;
}

/* 포트폴리오 슬라이드 */
.portfolio .slick-track {
    right: 6px;
}
.portfolio .pf-slide .item + .item{
    margin-right: 20px;
}
.portfolio .pf-slide .item{
    width: 180px;
    height: 180px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    border: 3px solid #2D2924;
    cursor: pointer;
}
.portfolio .pf-slide .item:hover{
    border-color: #FFB000;
}
.portfolio .pf-slide .item1{
    background-image:url('./resource/cocacola-img.png');
}
.portfolio .pf-slide .item2{
    background-image:url('./resource/artfive-img.png');
}
.portfolio .pf-slide .item3{
    background-image:url('./resource/designpixel-img.png');
}
.portfolio .pf-slide .item4{
    background-image:url('./resource/heimish-img.png');
}
.portfolio .pf-slide .item5{
    background-image:url('./resource/cleaderm-img.png');
}





/* 디자인 섹션 */
.design {
    position: relative;
    min-height: 100vh;
    background-color: #2D2924;
}
.design .wrap {
    position: relative;
    margin-left: auto;
    padding-top: 13.828689370485035vh;
    width: 100%;
    max-width: calc(((100vw - 1500px) / 2) + 1500px);
    box-sizing: border-box;
    z-index: 1;
}

.design .content-info {
    padding-right: 6.25vw;
    box-sizing: border-box;
}
/* 디자인 섹션 - 타이틀 */
.design .content-info .title {
    color: #ffffff;
}
.design .content-info .title > div{
    margin-bottom:10px;
}

/* 디자인 섹션  - 슬라이드 버튼 */
.design .design-slide-arrows {
    margin-top: 8.25593395252838vh; /*969일때 80*/
}
.design .design-slide-arrows > div{
    display: flex;
    align-items: center;
    width: calc(50% - 2.5px);
    height: 35px;
    background-color: #ffffff;
    cursor: pointer;
}
.design .design-slide-arrows > div:first-child{
    margin-right:2.5px;
    justify-content: flex-start;
}
.design .design-slide-arrows > div:last-child {
    margin-left:2.5px;
    justify-content: flex-end;
}
.design .design-slide-arrows > div > img {
    display: block;
    width: 10px;
    margin: 0 12px;
}



/* 디자인 섹션 - 슬라이드 */
.design .slick-slider1 {
    flex: 1 0 0;
    max-width: 1250px;
    margin-right: calc(4vw + 13px);
    box-sizing: border-box;
    overflow: hidden;
}
.design .slick-slider1 .slick-item{
    position: relative;
}

/* 디자인 섹션 - 슬라이드 이미지 박스*/
.design .slick-slider1 .slick-item .img {
    width: 460px;
    flex-shrink: 0;
    border-right: 10px solid #2D2924;
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    box-sizing: border-box;
    transition: background 3s;
    cursor: pointer;
}

.design .slick-slider1 .slick-item .img:hover {
    background-position: 0 100%;
}


.design .slick-slider1 .slick-item .img::before {
    content: "";
    display: block;
    padding-bottom: 155.55555555555554%;
}

.design .slick-slider1 .slick-item:nth-child(1) .img {
    background-image: url("./resource/design-kyobo.png");
}

.design .slick-slider1 .slick-item:nth-child(2) .img {
    background-image: url("./resource/site-coca-img.png");
}



/* design 섹션 - 슬라이드 텍스트 박스*/
.design .slick-slider1 .slick-item .item-content {
    position: relative;
    padding-left: 5.771%;
    box-sizing: border-box;
    background-color: #ffffff;
}
.design .slick-slider1 .slick-item .txt {
    padding-top: 3.611971104231166vh;
    box-sizing: border-box;
}
/* 디자인 슬라이드 텍스트 박스 타이틀 */
.design .slick-slider1 .slick-item .txt>.title {
    margin-bottom: 25px;
    font-weight: 900;
    letter-spacing: 1px;
    word-break: keep-all;
}

/* 디자인 슬라이드 텍스트 박스 태그 바 */
.design .slick-slider1 .slick-item .txt>.tag {
    margin-bottom: 30px;
    height: 18px;
}

.design .slick-slider1 .slick-item .txt>.tag>.tag-icon {
    height: 100%;
}

.design .slick-slider1 .slick-item .txt>.tag>.tag-icon>img {
    display: block;
    height: 100%;
}

/* 디자인 슬라이드 텍스트 박스 본문 */
.design .slick-slider1 .slick-item .txt>.txt-body {
    width: 70%;
}

.design .slick-slider1 .slick-item .txt>.txt-body>p {
    font-size: calc(1.1rem + 0.15625vw);
    font-weight: 400;
    letter-spacing: 0.5px;
    word-break: keep-all;
}

/* 디자인 슬라이드 텍스트 박스 참고 사이트 */
.design .slick-slider1 .slick-item .txt>.source {
    position: absolute;
    bottom: 10%;
}

.design .slick-slider1 .slick-item .txt>.source>span {
    font-weight: 500;
}

/* 디자인 - 슬라이드 배경 이미지 */
.design .slick-slider1 .slick-item .bg-img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 119px;
}

.design .slick-slider1 .slick-item .bg-img::before {
    content: "";
    display: block;
    padding-bottom: 134.7567544995198%;
}
.design .slick-slider1 .slick-item .bg-img > svg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* 디자인 팝업 */

.popup-bg {
    position: fixed;
    display: none;
    visibility: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.3);
    z-index: 200;
}

.popup-bg.active {
    display: block;
    visibility: visible;
}

.popup-box {
    position: fixed;
    display: none;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
}

.popup-box.active {
    display: block;
    visibility: visible;
}

/* 팝업 박스 버튼 */
.popup-box .popup-button .left {
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translate(-100%, -50%);
}

.popup-box .popup-button .right {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translate(100%, -50%);
}

/* 팝업 박스 버튼 화살표 */
.popup-box .popup-button .left::before, .popup-box .popup-button .left::after,
.popup-box .popup-button .right::before, .popup-box .popup-button .right::after{
    content:"";
    display: block;
    width: 25px;
    height: 5px;
    background-color: #ffffff;
}
.popup-box .popup-button .left::before{
    transform: rotate(45deg);
    transform-origin: left bottom;
}
.popup-box .popup-button .left::after{
    transform: rotate(-45deg);
    transform-origin: left top;
}
.popup-box .popup-button .right::before{
    transform: rotate(-45deg);
    transform-origin: right bottom;
}
.popup-box .popup-button .right::after{
    transform: rotate(45deg);
    transform-origin: right top;
}


.popup-box .popup-button .left:hover::before,
.popup-box .popup-button .left:hover::after {
    background-color: #FFB000;
}
.popup-box .popup-button .right:hover::before,
.popup-box .popup-button .right:hover::after {
    background-color: #FFB000;
}





/* 팝업 닫기 버튼 */
.popup-box .btn-close {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 40px;
    height: 40px;
}

.popup-box .btn-close::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 7px;
    transform: translateY(-50%) rotate(45deg);
    transform-origin: center;
    background-color: #ffffff;
}

.popup-box .btn-close::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 7px;
    transform: translateY(-50%) rotate(-45deg);
    transform-origin: center;
    background-color: #ffffff;
}
.popup-box .btn-close:hover::after, .popup-box .btn-close:hover::before {
    background-color: #FFB000;
} 

/* 팝업 아이템 */
.popup-box .popup-item {
    display: none;
    visibility: hidden;
}

.popup-box .popup-item.active {
    display: block;
    visibility: visible;
}

/* 팝업 아이템 이미지 */
.popup-box .popup-item .img-ver {
    max-width: 80vw;
    height: 80vh;
    overflow-y: scroll;
}
.popup-box .popup-item .img-ver::-webkit-scrollbar {
    width: 17px;
}
.popup-box .popup-item .img-ver::-webkit-scrollbar-track {
    background: #ffffff;
}
.popup-box .popup-item .img-ver::-webkit-scrollbar-thumb {
    background: #FFB000;
}
.popup-box .popup-item .img-ver img{
    display: block;
    margin: 0 auto;
}







/* contact 섹션 */
.contact {
    min-height: 100vh;
    padding-top: 20.63983488132095vh;
    padding-bottom: 10.319917440660475vh;
}
.contact::after {
    z-index: -1;
}
.contact >.title{
    text-align: center;
}

/* contact 섹션 - 컨텐츠 박스 */
.contact>.content {
    margin-top: 7.8vw;
}

/* contact 섹션 - 메일 전송 박스*/
.contact>.content>.send-mail {
    width: 50%;
    max-width: 750px;
}

.contact>.content>.send-mail>form>div:nth-of-type(2),
.contact>.content>.send-mail>form>div:nth-of-type(3) {
    margin-top: 20px;
}

.contact>.content>.send-mail>form>.type1 {
    font-size: 1.4rem;
    font-weight: 400;
    border: 1px solid #2D2924;
    background-color: #F7F7F7;
    color: #2D2924;
}

.contact>.content>.send-mail>form>.type1>input::placeholder {
    line-height: 1.4rem;
}

.contact>.content>.send-mail>form>.type1>input::placeholder,
.contact>.content>.send-mail>form>.type1>textarea::placeholder {
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 300;
    color: #2D2924;
}

.contact>.content>.send-mail>form>.type1>input {
    width: 100%;
    padding: 8px 0 8px 30px;
    box-sizing: border-box;
}

.contact>.content>.send-mail>form>.type1>textarea {
    display: block;
    width: 100%;
    height: 220px;
    padding-left: 30px;
    padding-top: 10px;
    box-sizing: border-box;
}

.contact>.content>.send-mail>form>.btn-send {
    margin-top: 30px;
}

.contact>.content>.send-mail>form>.btn-send>input {
    padding: 20px 30px;
    font-size: 1.4rem;
    font-weight: 500;
    color: #ffffff;
    background-color: #2D2924;
    cursor: pointer;
}
.contact .content .send-mail form>.btn-send>input:hover {
    background-color: #FFB000;
}




/* contact 섹션 - info box */
.contact>.content>.info-box {
    flex: 1 0 0;
    padding-bottom: 87px;
    box-sizing: border-box;
}

.contact>.content>.info-box>.info-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 20%;
    box-sizing: border-box;
    flex-direction: column;
}

/* contact 섹션 - info 타이틀 */
.contact>.content>.info-box .sub-title {
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
}
.contact>.content>.info-box .sub-title .txt-wrap> :not(:last-child) {
    margin-bottom: 25px;
}

.contact>.content>.info-box .sub-title .txt-wrap>div {
    width: 100%;
}

.contact>.content>.info-box .sub-title .txt-wrap>div>svg {
    width: 25px;
}

.contact>.content>.info-box .sub-title .txt-wrap>h2 {
    font-size: calc(2.4rem + 0.3125vw);
    font-weight: 400;
    word-break: keep-all;
}

/* contact 섹션 - 개인 정보 */
.contact .content .info-box .myself-info {
    margin-top: 25px;
}

.contact .content .info-box .myself-info>ul>li+li {
    margin-top: 20px;
}

.contact .content .info-box .myself-info>ul>li>span {
    display: inline-block;
    font-size: 1.4rem;
    line-height: 1.4rem;
    vertical-align: bottom;
    color: #2D2924;
}

.contact .content .info-box .myself-info>ul>li>span:first-child {
    width: 90px;
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 700;
}

.contact .content .info-box .myself-info>ul>li>span:last-child {
    font-weight: 300;
}


/* contact 섹션 - sns icon bar */
.contact .content .sns-bar {
    margin-top: auto;
}

.contact .content .sns-bar>ul>li {
    height: 35px;
}

.contact .content .sns-bar>ul>li+li {
    margin-left: 20px;
}

.contact .content .sns-bar>ul>li>a {
    display: block;
    height: 100%;
}

.contact .content .sns-bar>ul>li>a>svg {
    height: 100%;
}
.contact .content .sns-bar>ul>li:hover .sns-icon-path {
    fill: #FFB000;
}


footer {
    position: relative;
}




/* 반응형 */

/* pc */
@media (max-width:1650px) {
    .con,.design>.wrap {
        padding-left: 100px;
    }
}



/* pc, laptop-L */
@media (max-width:1440px) {


    /* design-section */
    .design .slick-slider1 .slick-item .img{
        width: 400px;
    }

    .contact>.content>.info-box .sub-title {
        padding-right: calc(4vw + 13px);
    }
}



@media (max-width: 1300px) {
    /* intro-section */
    .intro .title {
        margin-left: 5vw;
    }
    .intro .title>.ti1>span {
        font-size: 80px;
        line-height: 80px;
    }
    .intro .title>.ti2>span {
        font-size: 112px;
        line-height: 112px;
    }
    .intro .title>.ti2 {
        padding-right: 114px;
    }

    .intro .intro-img {
        margin-right: 13%;
    }


    /* about-section */
    .about > .bg {
        right: 0;
        left: auto;
    }
    .about .profile1, .about .profile2 {
        flex-wrap: wrap;
    }
    .about .profile-box1, .about .profile-box2 {
        width:100%;
        flex-grow: 1;
        padding-right: calc(4vw + 13px);
        margin-bottom: 5vh;
    }
    .about .content-box .content .tag-title-bar {
        margin-bottom: 2vh;
    }


    /* portfolio-section */
    .portfolio .portfolio-img-box {
        min-width: 450px;
    }


    /* design-section */
    .design .wrap {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .design .content-info {
        width: 100%;
        padding: 0;
    }
    .design .content-info .title {
        padding-bottom: 4vh;
    }
    .design .design-slide-arrows {
        display: none;
    }
    .design .slick-slider1 {
        max-width: calc(100% - 4vw - 13px);
        overflow: visible;
    }
}



/* pc, laptop, tablet width */
@media (max-width: 1024px) {
    /* intro-section */
    .intro .wrap {
        padding-left: 0;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .intro .title {
        align-items: center;
        margin-left: 0;
        margin-bottom: 0;
    }
    .intro .title>.ti1 {
        padding: 0;
    }
    .intro .title>.ti2 {
        padding: 0;
    }
    .intro .title > div > .title-line{
        width: calc(100% + 60px);
    }

    .intro .intro-img {
        margin-right: 0;
        margin-bottom: 8vh;
    }


    /* about-section */
    .about .content-box>.photo {
        width: 290px;
    }
    .about .content-box>.content {
        margin-left: 4vw;
    }


    /* portfolio-section */
    .portfolio .portfolio-img-box {
        min-width: 400px;
    }


    /* design-section */
    .design .slick-slider1 .slick-item .img {
        width: 360px;
    }
    .design .slick-slider1 .slick-item .item-content {
        padding-left: 3.5%;
    }
    .design .slick-slider1 .slick-item .txt>.txt-body {
        width: 90%;
    }
    .design .slick-slider1 .slick-item .bg-img {
        width: 70px;
    }
}



/* tablet , mobile width */
@media (max-width: 768px) {
    .con,.design>.wrap {
        padding-left: 2vw;
        padding-right: 2vw;
    }


    /* navgation */
    .side-bar {
        display: none;
    }
    .side-shadow {
        display: none;
    }
    .pagenation {
        display: none;
    }


    /* intro-section */
    .intro .title {
        margin-left: 0;
    }
    .intro .title>.ti1>span {
        font-size: calc(40px + 2.6041666666666665vw);
        line-height: calc(40px + 2.6041666666666665vw);
    }
    .intro .title>.ti2>span {
        font-size: calc(72px + 2.6041666666666665vw);
        line-height: calc(72px + 2.6041666666666665vw);
    }
    .intro .intro-img .puzzle-line-img,
    .intro .intro-img .puzzle-line, 
    .intro .intro-img .main-puzzle, 
    .intro .intro-img .white-bg-img {
        width: calc(100px + 9.895833333333334vw);
    }
    

    /* about-section */
    .about .title {
        text-align: center;
    }
    .about .content-box {
        flex-direction: column;
        align-items: center;
        justify-content: normal;
    }
    .about .content-box>.content {
        margin-top: 5vh;
        margin-left: 0;
    }
    .about .profile-box1, .about .profile-box2 {
        padding-right: 0;
    }
    .about .tools {
        max-width: 80%;
    }
    .about .tools > li {
        width: calc(100% / 7);
        padding-bottom: 30px;
    }


    /* portfolio-section */
    .portfolio {
        margin-top: 5vh;
    }
    .portfolio .portfolio-img-box{
        display: none;
    }
    .portfolio .pf-content .btn-box {
        display: flex;
    }


    /* design-section */
    .design .slick-slider1 {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 5vh;
    }
    .design .slick-slider1 .slick-item .item-content {
        display: none;
    }
    .design .slick-slider1 .slick-item .img {
        width:50vw;
        min-width: 300px;
        border-right:none;
    }


    /* contact-section */
    .contact>.content {
        flex-direction: column-reverse;
    }
    .contact>.content>.info-box>.info-wrap {
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 0;
    }
    .contact>.content>.send-mail {
        width: 100%;
        max-width: none;
    }
    .contact>.content>.info-box .sub-title {
        width: 100%;
        justify-content: center;
        padding-right:0;
    }
    .contact .content .info-box .myself-info,.contact .content .sns-bar {
        width:50%;
    }
}



/* mobile */
@media (max-width: 480px) {
    /* about-section */
    .about .tools {
        max-width: none;
    }


    /* design-section */
    .design .slick-slider1 .slick-item .img {
        width: 96vw;
        border-right:none;
    }


    /* contact-section */
    .contact .content .info-box .myself-info>ul>li>span:first-child,
    .contact .content .info-box .myself-info>ul>li>span:last-child {
        width: 100%;
    }
    .contact .content .info-box .myself-info>ul>li>span:last-child {
        padding-top: 5px;
    }
}